<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">You forgot something!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Don't forget to give the movie title and reason for your rating!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<section>
  <h2>Rate a Movie</h2>

    <form class="new-post-form">
        <div class="form-group">
            <input type="text" class="form-control" id="movie-title" name="movie-title" placeholder="Movie Title" />
        </div>
        <div class="form-group">
            <select id="rating" class="form-control" name="rating" required="true">
                <option value="">Rate this movie</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="content" name="content" rows="3" placeholder="Reason for your rating"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <br />
    {{#each posts as |post|}}
    {{> dashboard-post post}}
    {{/each}}
</section>
{{else}}
<section>
    <h2>You haven't rated any movies yet!</h2>
</section>
{{/if}}

<script src='/javascript/add-post.js'></script>