{{#if posts.length}}
<section class="list-group">
    {{#each posts as |post|}}
    <div>
        {{> post-info post }}
    </div>
    {{/each}}
</section>
{{else}}
<section>
    <h2>No Posts Yet!</h2>
</section>
{{/if}}