html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  color: #000;
}

.wrapper {
  width: 70%;
  font-family: 'Special Elite', cursive;
}

section {
  margin: 10px 0px 10px 0px;
}

.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form .checkbox {
  font-weight: 400;
}

.form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form .form-control:focus {
  z-index: 2;
}

.new-post-form input {
  width: 100%;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn {
  margin: 5px;
}

.post {
  margin: 5px 0px 5px 0px;
}

.title {
  text-align: left;
}

.post-content {
  text-align: left;
}

.edit-post-form {
  padding: 10px;
}

header {
  font-family: 'Special Elite', cursive;
  color: #000;
}

h1 {
  font-size: 50px;
  color: #000;
}